<?xml version="1.0" encoding="UTF-8"?>
<!-- Reference: http://gordondickens.com/wordpress/2012/07/03/enterprise-spring-best-practices-part-1-project-config/ -->
<configuration scan="true">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<jmxConfigurator />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<file>target/EIVR-DEBUG.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>target/cuke.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
            <pattern>%d %5p | [%thread] | %-5logger{36}.%method | %m %n</pattern>
		</encoder>
	</appender>

    <!-- Standard Console layout -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- On Windows machines setting withJansi to true enables ANSI
                 color code interpretation by the Jansi library. This requires
                 org.fusesource.jansi:jansi:1.8 on the class path.  Note that
                 Unix-based operating systems such as Linux and Mac OS X
                 support ANSI color codes by default. -->
        <!--<withJansi>true</withJansi>-->

        <!-- encoders are assigned by default the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
            <!--<pattern>%date{HH:mm:ss.SSS} %5p | %-55logger{55}.%method | %m %n</pattern>-->
            <pattern>%date{HH:mm:ss.SSS} %5p | %-6logger{40}.%method | %m %n</pattern>
        </encoder>
	</appender>

    <!-- Standard Console layout -->
	<appender name="VXML" class="ch.qos.logback.core.ConsoleAppender">
        <!-- On Windows machines setting withJansi to true enables ANSI
                 color code interpretation by the Jansi library. This requires
                 org.fusesource.jansi:jansi:1.8 on the class path.  Note that
                 Unix-based operating systems such as Linux and Mac OS X
                 support ANSI color codes by default. -->
        <!--<withJansi>true</withJansi>-->

		<!-- encoders are assigned by default the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
            <pattern>%boldYellow(%m %n)</pattern>
		</encoder>
	</appender>

	<!-- Available Levels: Valid values are TRACE, DEBUG, INFO, WARN, ERROR or FATAL. -->

	<logger name="org.apache" level="WARN" />

    <logger name="com.comcast" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.beans" level="INFO" />


    <!-- Use level="TRACE" for more detailed logging -->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="VXML" />-->
		<!--<appender-ref ref="FILE" />-->
	</root>

</configuration>
